*.iml
.gradle
.gradle/
local.properties
.idea/
.DS_Store
build/
captures/
.externalNativeBuild
.cxx

# Python scripts
generate_project.py
generate_ui_logic.py
update_tabs.py
translate_ui.py
__pycache__/

# Keystore files
*.jks
*.keystore

# NDK
obj/
